run = "python3 haycon/main.py"
entrypoint = "haycon/index.html"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8000
externalPort = 80

[agent]
expertMode = true

[env]
PATH = "/home/runner/.local/bin:${PATH}"
